# Xcode
.DS_Store
*.xcuserstate
xcuserdata/
project.xcworkspace/
*.xcworkspace/xcuserdata/
*.ibuserstate
*.gcno
*.gcda
*.gcov
*.xcarchive

# Derived Data
DerivedData/

# Swift Package Manager
.build/

# Carthage
Carthage/Build/

# CocoaPods
Pods/
Podfile.lock
