<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GardBot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90C1016B2BE80BED0057A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C1017B2BE80BEF0057A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C101852BE80BEF0057A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
